.<div class="container">
    <form [formGroup]="userFrom" (ngSubmit)="postData()">
     <div class="row">
         <div class="col-lg-6">
             <label for="">FirstName</label>
             <input type="text" formControlName="FirstName" class="form-control">
         </div>
         <div class="col-lg-6">
             <label for="">LastName</label>
             <input type="text" formControlName="LastName" class="form-control">
         </div>
         <div class="col-lg-6">
             <label for="">Email</label>
             <input type="email" formControlName="Email" class="form-control">
         </div>
         <div class="col-lg-6">
             <label for="">Salary</label>
             <input type="text" formControlName="Salary" class="form-control">
         </div>
         <div class="col-lg-6 mt-2">
             <input type="submit" class="btn btn-primary"/>
         </div>
     </div>
    </form>
 </div>